<% if !@band_profile %>
	<div class="alert alert-warning">
		<h4>You don't have a profile yet! Create your band profile now!</h4>
		<br>
		<%= link_to "Create profile", new_band_profile_path, class: 'btn btn-success' %>
	</div>
<% else %>
<div class="head">
	<h1><%= @band_profile.name %>'s Profile</h1>
</div>
	<p><strong>Name:</strong> <%= @band_profile.name  %></p>
	<p><strong>Info:</strong> <%= @band_profile.info %></p>
	<p><%= link_to "Edit band profile", edit_band_profile_path(@band_profile), class: 'btn btn-warning' %></p>
<% end %>